<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:allowBackup="false" android:fullBackupContent="false" android:label="Control de Gastos" android:theme="@style/AppTheme" android:supportsRtl="true" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round">
        <activity android:name=".HomeActivity" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity>
        <activity android:name=".CreditCardsActivity" android:exported="false" />
        <activity android:name=".EmailSettingsActivity" android:exported="false" />
        <activity android:name=".WhitelistActivity" android:exported="false" />
        <activity android:name=".AnalyticsActivity" android:exported="false" /><activity android:name=".BudgetActivity" android:exported="false" /><activity android:name=".CategorySettingsActivity" android:exported="false" /><activity android:name=".RulesActivity" android:exported="false" /><activity android:name=".BlacklistActivity" android:exported="false" /><activity android:name=".NotificationSetupActivity" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="true" android:label="Importar en ControlGastos"><intent-filter><action android:name="android.intent.action.VIEW"/><category android:name="android.intent.category.DEFAULT"/><data android:mimeType="application/vnd.ms-excel"/></intent-filter><intent-filter><action android:name="android.intent.action.SEND"/><category android:name="android.intent.category.DEFAULT"/><data android:mimeType="application/vnd.ms-excel"/></intent-filter></activity>
        <service android:name=".BankNotificationListener" android:label="Detector de gastos bancarios" android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" android:exported="true"><intent-filter><action android:name="android.service.notification.NotificationListenerService"/></intent-filter></service><receiver android:name=".HourlyNotificationCheckReceiver" android:exported="false" />
    </application>
</manifest>